<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">

	<description>web.xml</description>
	<display-name>${project.name} ${project.version}</display-name>

	<context-param>
		<param-name>db</param-name>
		<param-value>/db.properties</param-value>
	</context-param>
	<listener>	
		<listener-class>
			com.palamsoft.evotor.web.ContextLoaderListener
		</listener-class>
	</listener>
  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>
    	com.sun.jersey.spi.container.servlet.ServletContainer
	</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.palamsoft.evotor.web</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>simple-servlet</servlet-name>
    <servlet-class>
    	com.palamsoft.evotor.web.ClientServlet
	</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>simple-servlet</servlet-name>
    <url-pattern>/ws/client</url-pattern>
  </servlet-mapping>
  <absolute-ordering />

 </web-app>
